/* ------------------------------------------------------------ *\
	Checkbox
\* ------------------------------------------------------------ */

.checkbox {
	margin-top: 4.6rem;
	padding: 0 2.7rem;

	@include breakpoint-down(mobile) {
		padding: 0;
	}

	input {
		display: none;
	}

	label {
		position: relative;
		display: block;
		padding: 0 2rem 0 4.4rem;
		font-size: 1.5rem;
		letter-spacing: -0.02em;

		@include breakpoint-down(mobile) {
			font-size: 1.4rem;
			padding-left: 3.4rem;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 2.6rem;
			height: 2.6rem;
			background-color: var(--c-white);
			border-radius: 0.4rem;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0.5rem;
			left: 0.5rem;
			width: 1.6rem;
			height: 1.6rem;
			background-image: url('/assets/images/svg/form-check.svg');
			opacity: 0;
			transition: opacity var(--t-duration);
		}
	}

	input:checked + label:after {
		opacity: 1;
	}
}
